:root{
    --orange:#ffa500
    --white:#ffffff
    --dark-bg:#0c1f2c
    --light-bg:#142837
}

body{
    margin: 0;
    font-family: Arial,sans-serif;
    background-color: #FFFFFF;
    color: #0c1f2c;
}

header{
    background-color:#0c1f2c ;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;

}
.logo-container{
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
    margin-right: 10px;
}

.company-name{
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: bold;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a{
    text-decoration: none;
    color: orange;
    font-weight: bold;
}
.nav-links a:hover{
    color: white;
}

.hero{
    background-image: url();
    background-size: cover;
    background-position: center;
    padding: 120px 30px;
    text-align: center;
}
.hero h1{
    font-size: 3em;
    color: orange;
}
.hero p{
    font-size: 1.2em;
    color: #0c1f2c;
}
.hero button{
    margin-top: 20px;
    padding: 12px 25px;
    background-color: orange;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}

.hero button:hover{
    background-color: #ff8c00;
}

.section{
    padding: 60px 30px;
    text-align: center;
}
.section h2{
    color: orange;
    font-size: 2.5em;
}
.services-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}
.service-card{
    background-color: #142837;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    color: #FFFFFF;
    box-shadow: 0 0 10px #00000033;
}

footer{
    background-color: #142837;
    padding: 40px 20px;
    color: white;
}
.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.footer-links a {
color: white;
text-decoration: none;
margin-right: 15px;
flex-direction: column;
}

.footer-links a:hover {
color: #ff8c00;
}
.footer-contact p{
    margin: 5px 0;
}
footer a{
    color: #ff8c00;
}
footer a:hover{
    text-decoration: underline;
}

footer p{
    text-align: center;
    margin-top: 20px;
}